.destinations {
    .destinations-list-wrapper {
        margin: 0 auto;
        max-width: 1230px;
        padding: 0 15px;
    }

    .destinations-list {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        margin: -20px auto 0 auto;
        padding: 30px 0;
        box-shadow: 0 0 30px rgba(52, 52, 52, 0.15);
        border-radius: 5px;
        background-color: white;

        .destinations-item {
            padding: 10px 0 14px 0;
            box-sizing: border-box;
            border: 1px solid transparent;
            border-right: 1px solid $destination-item-border-color;
            border-bottom: 1px solid $destination-item-border-color;
            width: 50%;
            flex-shrink: 0;

            &:nth-child(2n) {
                border-right: transparent;
            }

            &:nth-last-child(1), &:nth-last-child(2) {
                border-bottom: transparent;
            }
        }

        .item-counter {
            margin: -0.1em 0;
        }

        .item-name {
            margin: 17px 0 -0.1em 0;
        }

        @media (min-width: 600px) {
            margin: -70px auto 0 auto;

            &.dominate .destinations-item {
                border: 1px solid transparent;
                border-right: 1px solid $destination-item-border-color;
                width: 25%;
                border-right: 1px solid $destination-item-border-color;

                &:last-child {
                    border-right: transparent;
                }
            }
        }
        //media
    }

    .main-container {
        h2 {
            margin-top: 110px;
        }

        .h-subscription {
            margin-top: 30px;
        }

        .album {
            margin: 68px -15px -15px -15px;

            .album-item {
                .item-counter {
                    z-index: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 13px;
                    border-radius: 5px;
                    background-color: $decoration-color;

                    span.boat-icon {
                        display: block;
                        width: 16px;
                        height: 16px;
                        background: url('../images/sailboat-icon.png') center no-repeat;
                        margin-right: 11px;
                    }

                    span.counter {
                        display: block;
                        color: $album-text-color;
                        font-family: $open-sans;
                        font-size: 16px;
                        font-weight: 700;
                    }
                }

                position: relative;
                padding: 15px;

                .photo {
                    position: relative;
                    z-index: 1;
                    background-color: black;
                    font-size: 0;
                    border-radius: 5px;

                    a {
                        display: block;
                    }
                }

                &:hover {
                    img {
                        opacity: 0.5;
                    }
                }
            }

            .item-place {
                z-index: 1;
            }

            .dock-name {
                margin-bottom: -0.1em;
            }

            .country {
                margin-top: 14px;
                margin-bottom: -0.1em;
            }
        }

        .button-wrapper {
            margin-top: 50px;
            text-align: center;

            .button {
                &:hover {
                    box-shadow: 0 0 10px 1px gray;
                }

                padding: 25px 37px 24px 37px;

                @media (min-width: 600px) {
                    padding: 25px 43px 24px 43px;
                }
            }
        }

        padding-bottom: 40px;

        @media (min-width: 600px) {
            padding-bottom: 80px;

            .button-wrapper {
                margin-top: 98px;
            }
        }
    }//main-container
}

.boats {
    background: url('../images/boats-background.jpg') no-repeat center/cover;
    text-align: center;

    .main-container {
        padding-top: 70px;
        padding-bottom: 50px;

        @media (min-width: 600px) {
            padding-top: 188px;
            padding-bottom: 159px;
        }

        .pre-header {
            margin: -0.1em 0 30px 0;
        }

        h2 {
            color: $h-color-inverted;
        }

        .button {
            padding: 25px 35px;
            margin-top: 40px;

            &:hover {
                color: wheat;
            }

            @media (min-width: 600px) {
                padding: 25px 51px;
                margin-top: 86px;
            }
        }
    }
}

.featured-boats {
    .main-container {
        padding: 50px 15px 40px 15px;

        h2 {
            margin: -0.1em 0;
        }

        .h-subscription {
            margin: 30px 0 -0.1em 0;
        }

        .album {
            margin: 50px -15px -15px -15px;
            color: white;

            .album-item {
                padding: 15px 13px;

                &:hover {
                    .item-photo {
                        img {
                            opacity: 0.5;
                        }
                    }
                }
            }

            .item-photo {
                font-size: 0;
                position: relative;
                z-index: 1;
            }

            .price {
                z-index: 1;
                display: inline-block;
                padding: 13px;
                border-radius: 5px;
                background-color: $decoration-color;
                color: $album-text-color;
                font-family: $open-sans;
                font-size: 16px;
                font-weight: 700;
                margin-bottom: auto;
            }

            .model-name {
                z-index: 1;
            }

            .info {
                z-index: 1;
                display: flex;
                margin-top: 16px;

                .location {

                    display: flex;
                    align-items: center;
                    margin-right: 30px;

                    .icon {
                        display: inline-block;
                        width: 13px;
                        height: 17px;
                        background: url('../images/location.png') center no-repeat;
                        margin-right: 9px;
                    }
                }

                .berth-number {
                    display: flex;
                    align-items: center;

                    .icon {
                        display: inline-block;
                        width: 22px;
                        height: 14px;
                        background: url('../images/berths.png') center no-repeat;
                        margin-right: 9px;
                    }
                }
            }

            a {
                display: block;
                background-color: black;
                border-radius: 5px;
            }
        }

        .button-wrapper {
            margin-top: 50px;
            text-align: center;

            .button:hover {
                box-shadow: 0 0 10px 1px gray;
            }
        }

        @media (min-width: 600px) {
            padding: 101px 15px 87px 15px;

            .album {
                margin-top: 78px;
            }

            .button-wrapper {
                margin-top: 115px;
            }
        }
    }
}