// fonts
$raleway: 'Raleway', sans-serif;
$open-sans: 'Open Sans', sans-serif;

// colors
$color-1: #717171;

$decoration-color: #e7434e;

$button-text-color: #343434;
$destination-item-counter-color: #343434;
$button-text-color-inverted: white;

$navbar-color: #f9fafe;

$h-color-inverted: #f9fafe;
$h-color: #343435;
$h-subscription-color: $color-1;

$footer-background-color: #404040;
$footer-text-color: white;
$footer-socials-color: $color-1;
$footer-input-color: $color-1;
$header-input-color: $color-1;
$destination-item-border-color: #d4d4d4;
$destination-item-name-color: $color-1;
$album-text-color: white;
